[submodule "ethereal-donut"]
	path = ethereal-donut
	url = https://github.com/HuazyYang/ethereal-donut.git
	branch = ethereal-dev
[submodule "ethereal-samples"]
	path = ethereal-samples
	url = git@github.com:HuazyYang/ethereal-samples.git
